<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Inkybot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logocr"
                    xsi:type="File"
                    fileName="logs/ocr.log"
                    archiveFileName="logs/archive/ocr.{#}.log"
                    archiveNumbering="DateAndSequence"
                    archiveDateFormat="yyyy-MM-dd"
                    archiveOldFileOnStartup="true"
                    maxArchiveFiles="15"
                    layout="${longdate} | ${level} | ${message}" />
            <target name="logmage"
                    xsi:type="File"
                    fileName="logs/maging.log"
                    archiveFileName="logs/archive/maging.{#}.log"
                    archiveNumbering="DateAndSequence"
                    archiveDateFormat="yyyy-MM-dd"
                    archiveOldFileOnStartup="true"
                    maxArchiveFiles="15"
                    layout="${longdate} | ${level} | ${message}" />
        </targets>

        <rules>
            <logger name="*" minlevel="Info" writeTo="logconsole" />
            <logger name="ocr" minlevel="Debug" writeTo="logocr" />
            <logger name="mage" minlevel="Debug" writeTo="logmage" />
        </rules>
    </nlog>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Inkybot.Properties.Settings>
            <setting name="dofusPath" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="locale" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="restoreHighSinkStatImmediately" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="autoRestartBot" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="showUserWarnings" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="enableRuneChecking" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="presets" serializeAs="Xml">
                <value>
                    <ItemPresets>
                    </ItemPresets>
                </value>
            </setting>
            <setting name="earth_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="prospecting" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>19</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="initiative" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>170</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>470</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>210</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>570</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="hunting_weapon" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="critical_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="fire_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="water_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>19</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="melee_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="ap_parry" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>12</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>15</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="pushback_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="ap_reduction" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>12</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>15</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="per_water_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="fire_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="per_neutral_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="earth_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="strength" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>55</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>21</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>62</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="air_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="ap" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="mp" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="per_earth_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="dodge" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>19</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="heals" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>15</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>19</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="power" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>50</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>21</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>54</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="range" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="agility" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>55</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>21</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>62</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="per_fire_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="trap_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="neutral_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="pushback_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="water_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="intelligence" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>55</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>21</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>62</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="spell_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="critical" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="weapon_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="power_traps" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>50</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>21</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>54</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="neutral_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="ranged_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="chance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>55</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>21</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>62</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="mp_parry" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>12</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>15</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="melee_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="per_air_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="vitality" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>90</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>310</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>115</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>315</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="summons" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="critical_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="air_resistance" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>17</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="mp_reduction" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>12</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>15</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="wisdom" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>17</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>40</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>19</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>45</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="ranged_damage" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="lock" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>14</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>19</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="pods" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>90</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>470</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>110</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>570</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>true</CanUsePaRunes>
                        <CanUseRaRunes>true</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
            <setting name="reflect" serializeAs="Xml">
                <value>
                    <StatConfig>
                        <ChangeToPaRuneThreshold>-</ChangeToPaRuneThreshold>
                        <ChangeToRaRuneThreshold>-</ChangeToRaRuneThreshold>
                        <MaxValueAtWhichSmRuneCanLand>-</MaxValueAtWhichSmRuneCanLand>
                        <MaxValueAtWhichPaRuneCanLand>-</MaxValueAtWhichPaRuneCanLand>
                        <CanUsePaRunes>false</CanUsePaRunes>
                        <CanUseRaRunes>false</CanUseRaRunes>
                    </StatConfig>
                </value>
            </setting>
        </Inkybot.Properties.Settings>
    </userSettings>
</configuration>